.Reveal {
  font-size: 1.3rem;
  width: 70vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}
p {
  font: 3rem;
}
