@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Exo 2", sans-serif;
}

@layer components {
  html {
    @apply bg-primary-900;
  }
  .navbar-bar {
    @apply fixed inset-y-0 left-0 h-full w-20 
    flex flex-col justify-center items-center 
    text-white shadow-xl 
    space-y-4 sm:space-y-6 md:space-y-8 lg:space-y-10;
  }
  .navbar-icon {
    @apply relative flex items-center justify-center
    h-14 w-14 mt-2 mx-auto shadow-lg bg-primary-950
    text-teal-900 hover:bg-teal-600 hover:text-white
    rounded-3xl hover:rounded-xl transition-all duration-300
    ease-linear cursor-pointer;
  }

  .navbar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-16 ml-4
      rounded-2xl shadow-md text-white bg-primary-700
      text-xs font-bold transition-all duration-100 scale-0 origin-left;

    /* Tail styles */
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -6px;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 8px solid #374151;
    }
  }
}
